# Day folders (generated symbology + contracts)
[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]/
constituents/contracts/

# Binaries
/premarket
/premarket.exe
/normalizer.exe
bin/*.exe
bin/LOGS/

# Go
/vendor/
